.header {
    display: flex;
    justify-content: space-evenly;
    background-color: #2874f0;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}

.logodiv {
    display: flex;
    width: 40%;
    background-color: #2874f0;
    align-items: center;
}


.inputdiv {
    width: 80%;
    background-color: white;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: space-between;
}

.inputarea {
    width: 90%;
    outline: none;
    border: 1px solid white;

}

.login {
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    background-color: white;

}

.after {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.after>div {
    display: flex;
    align-items: center;
}


.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}